# Environment variables
.env
.env.local

# Dependencies
node_modules/
package-lock.json

# Docker
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Firebase
firebase-debug.log
firestore-debug.log
*.cache