apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-deployment
  namespace: instagram-backend
  labels:
    app: auth
spec: # Deployment
  replicas: 2
  selector:
    matchLabels:
      app: auth
  template: # Pod spec
    metadata:
      labels:
        app: auth
    spec:
      containers:
        - name: auth-deployment
          image: auth-service:dev
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
          env:
            - name: PORT
              value: "5000"
            - name: FIREBASE_PROJECT_ID
              valueFrom:
                secretKeyRef:
                  name: firebase-secret
                  key: FIREBASE_PROJECT_ID
            - name: FIREBASE_CLIENT_EMAIL
              valueFrom:
                secretKeyRef:
                  name: firebase-secret
                  key: FIREBASE_CLIENT_EMAIL
            - name: FIREBASE_PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: firebase-secret
                  key: FIREBASE_PRIVATE_KEY
            - name: RABBITMQ_URL
              valueFrom:
                secretKeyRef:
                  name: firebase-secret
                  key: RABBITMQ_URL
            - name: RABBITMQ_EXCHANGE
              valueFrom:
                secretKeyRef:
                  name: firebase-secret
                  key: RABBITMQ_EXCHANGE
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "500m"
          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 20
            periodSeconds: 20
