apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: instagram-backend
spec:
  selector:
    app: auth
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
  type: ClusterIP
